@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Author @ViewData["Author"]</p>
<address>
    <strong>More information: <a href="https://github.com/luizgz02/sales-web-mvc">Github Code</a></strong>
    <p><strong>Contact: </strong>luiz.gustavogz02@gmail.com</p>
</address>
